body {
  font-family: 'Saira', sans-serif;
}

.card-body {
  font-family: 'Source Code Pro', monospace;
  padding: 10px 20px;
}

#tiger-body {
  min-height: 230px;
  max-height: 230px;
}

#wat-body {
  min-height: 425px;
  max-height: 425px;
}

#output-body, #expected-body {
  min-height: 695px;
}

#test-selectionTabContent {
  font-size: 15px;
  min-height: 787px;
}

.nav-link {
  color: #495057;
}
