body {
  font-family: 'Saira', sans-serif;
}

.card-body {
  font-family: 'Source Code Pro', monospace;
}

#tiger-body {
  min-height: 225px;
  max-height: 225px;
}

#wat-body {
  min-height: 415px;
  max-height: 415px;
}

#output-body {
  min-height: 700px;
}

#test-selection {
  min-height: 820px;
}
